body{
    background-color: rgb(33, 89, 41);
    position: relative;
}
.grid-container {
display: grid;
margin-left: 14%;
    
}
span,p{
    color: white;
    text-align: center;
}
span:hover{
    color: red;
}

p:hover{
    color: red;
}


.grid-item {
    width: 40px;
    height: 40px;
    background-color: white;
    border: 0.5px solid #ccc;
    cursor: pointer;
}
#resetBotton{
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
}
.tool-container {

    display: flex;
    flex-direction: column;
    position: absolute;
    border: 2px solid white;
    width:60px;
    top: 20px;
    left: 60px;
   
  
}
.inventory{

    display: flex;
    flex-direction: row;
    border: 2px solid white;
    width:400px;
    margin-top: 10px;
    margin-left: 35%;
    justify-content: space-evenly;

}
#axe,
#shovel,
#pickaxe{
    height: 40px;
    width: 40px;
    border: 0.5px solid #ccc;
    margin: 10px;
    cursor: pointer;
    background-size: 40px;
}


#axe {
    background-image: url('pickaxe.png');
    
   
}

#shovel {
    background-image: url('shovel.png');
    
}

#pickaxe {
    background-image: url('axe.png');
    
}

#ground,
#grass,
#rock,
#tree,
#tree_leaves{
    height: 40px;
    width: 40px;
    border: 0.5px solid #ccc;
    margin: 10px;
    cursor: pointer;
    background-size: 40px;
}

#ground {
    background-image: url('dirt.png');
    
   
}

#grass {
    background-image: url('grass1.png');
    
}

#tree{
    background-image: url('tree.png');
    
}

#tree_leaves {
    background-image: url('tree-leaves.png');
    
}
#rock {
    background-image: url('rock.png');
    
}
#reset {
   position: absolute;
   top: 20px;
   right: 40px;
   padding: 20px;
font-size: x-large;
font-weight: bold;
font-family: 'Shadows Into Light', cursive;
background-color: rgb(49, 29, 29);
color: white;
    
}
